{% url 'crud:crud_list' as urlCrudList %}
{% url 'crud:crud_create' as urlCrudCreate %}
{% block sidebar %}
    <div class="sidebar-content">
        <div class="sidebar-item py-2 rounded-3 mb-4">
            <a class="nav-link" href="{{urlCrudList}}">
                Facturas
            </a>
        </div>
        <div class="sidebar-item py-2 rounded-3 mb-4">
            <a class="nav-link" href="{{urlCrudCreate}}">
                Crear factura
            </a>
        </div>
    </div>
{% endblock%}