{% extends "base/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="row">
            <div class="col-lg-12">
                <h4><strong class="titulo-pagina">
                    BLABLA
                </strong></h4>
            </div>
        </div>
    </div>
</div>

<form action="" id="createInvoiceForm" method="post">
    {% csrf_token %}
    <div class="card mt-5 mx-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-row">
                        <label for="ref">Número de factura:</label>
                        <input type="text" class="form-control" id="ref" name="ref" required>

                        <label for="description">Descripción:</label>
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                    <div class="form-row">
                        <label for="unit">Unidades:</label>
                        <input type="number" class="form-control" id="unit" name="unit" required>

                        <label for="customer">Cliente:</label>
                        <input type="text" class="form-control" id="customer" name="customer" required>

                        <label for="date">Fecha:</label>
                        <input type="date" class="form-control" id="date" name="date" required>

                         <label for="total">Total:</label>
                        <input type="number" class="form-control" id="total" name="total" required>
                    </div>
                </div>
            </div>
             <input type="submit" class="btn btn-primary mt-3" value="Crear Factura">
        </div>
    </div>
</form>

{% endblock content %}
{% block script %}
<script>
    
</script>
{% endblock script%}