{% extends "base.html" %}
{% block content %}
{% csrf_token %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="card mt-5 mx-4">
                <div class="mx-2 my-2">
                    <form id="formFactura">
                        {% csrf_token %}
                        <div class="form-floating mb-3 h-25">
                            <input type="text" class="form-control" name="invoice" id="floatingInput" required>
                            <label for="floatingInput">Nombre de la factura</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingDescription" name="description">
                            <label for="floatingDescription">Descripción</label>
                        </div>
                        <div class="mx-auto my-3" style="width: 200px;">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <input class="btn btn-outline-danger" type="reset" value="Cancelar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}